<title>茂号</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
<%= csrf_meta_tags %>

<!--[if lt IE 9]>
  <%= javascript_include_tag 'error', 'data-turbolinks-track' => false %>
<![endif]-->