<!DOCTYPE html>
<html>
<head>
  <%= render "layouts/admin/head" %>
</head>
<body class="bg-1">
<!-- Preloader -->
<div class="mask"><div id="loader"></div></div>
<!--/Preloader -->
<!-- Wrap all page content here -->
 <%= yield %>
<!-- Wrap all page content end -->

</body>
</html>
