// Place all the styles related to the staticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'plugins/font-awesome';
@import 'plugins/static_pages';