<!DOCTYPE html>
<html>
<head>
  <%= render "layouts/seller/head" %>
</head>
<body class="bg-4">

<!-- Preloader -->
  <div class="mask"><div id="loader"></div></div>
<!--/Preloader -->
  <%= render "layouts/seller/navbar" %>

</body>
</html>
