<!DOCTYPE html>
<html>
<head>
  <%= render "layouts/seller/head" %>
</head>
<body class="bg-1">
<!-- Preloader -->
<div class="mask"><div id="loader"></div></div>
<!--/Preloader -->
<!-- Wrap all page content here -->
<div id="wrap">
  <!-- Make page fluid -->
  <div class="row">
    <!-- Page content -->
    <div id="content" class="full-page">
      <div class="col-md-4 col-md-offset-4" style="top: 150px;">
        <!-- tile -->
        <section class="tile color transparent-black">
          <!-- tile header -->
          <div class="tile-header text-center">
            <h1><strong>茂号</strong>商家平台</h1>
          </div>
          <!-- /tile header -->
            <%= yield %>
          <!-- tile body -->
          <!-- /tile body -->
          <div class="tile-footer">
            <%= debug(params) if Rails.env.development? %>
          </div>
        </section>
        <!-- /tile -->
      </div>

    </div>
    <!-- /Page content -->
  </div>
</div>
<!-- Wrap all page content end -->



</body>
</html>
