<!DOCTYPE html>
<html>
<head>
  <%= render "layouts/seller/head" %>
</head>
<body class="bg-1">
<!-- Preloader -->
<div class="mask"><div id="loader"></div></div>
<!--/Preloader -->
<!-- Wrap all page content here -->
<!-- Wrap all page content end -->
<%= yield %>


</body>
</html>
